doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Phillip Lehner

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Phillip Lehner
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Phillip 
                        span.text-primary Lehner
                    .subheading.mb-5
                        | Nashville, TN 37204 · (123) 456-7890 · 
                        a(href='mailto:pl@philliplehner.com') pl@philliplehner.com
                    p.lead.mb-5
                        | I am experienced in breaking complex topics and systems into easily consumed pieces, tailored to specifics audiences and groups.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/phillip-lehner/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/Pilipo/')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/invalid_ref')
                            i.fab.fa-twitter
                        //- a.social-icon(href='#')
                        //-     i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior eLearning Manager
                            .subheading.mb-3 BeyondTrust
                            p
                                | Translate broad business initiatives and product strategies into concrete, actionable work that is distributed across a team of course developers. Lead these developers in building best-in-class, self-paced training for audiences of varied technical understanding, ranging from non-technical personnel to highly technical systems administrators.
                        .flex-shrink-0
                            span.text-primary March 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 eLearning Developer
                            .subheading.mb-3 BeyondTrust
                            p
                                | Create and maintain self-paced training for network security product users and administrators. Captureand edit screenshots and demonstration footage of complex network security software. Write scripts for course narration and compile resultant content into a course bundle in an LMS.
                        .flex-shrink-0
                            span.text-primary December 2017 - March 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Instructor
                            .subheading.mb-3 BeyondTrust
                            p
                                | Deliver multi-day training sessions to systems administrators and network security stakeholders. Create and maintain course training manuals and lab guides.
                        .flex-shrink-0
                            span.text-primary December 2013 - December 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Support Engineer
                            .subheading.mb-3 Click Effects
                            p
                                | Answer phones and stuff.
                        .flex-shrink-0
                            span.text-primary August 2007 - June 2011

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Mississippi College
                            //- .subheading.mb-3 Bachelor of Science
                            div English Education
                            //- p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary August 2000 - May 2003

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Clinton High School
                            //- .subheading.mb-3 Technology Magnet Program
                            //- p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary August 1996 - May 2000

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-aws
                    .subheading.mb-3 Graphics and Design
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Adobe Creative Cloud (Photoshop, After Effects, Premiere)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Articulate 360 (Storyline, Rise)
                        li.mb-3
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                    .subheading.mb-3 Project Management
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Clubhouse
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Trello
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Slack
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Zoom
            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | More here soon.
                        //- | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
                    p.mb-0
                        //- | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects I'm proud of
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-star.text-warning
                            | PiWall Video with Hazelwood Labs (link soon)
                        li
                            span.fa-li
                                i.fas.fa-star.text-warning
                            a(href='https://github.com/Pilipo/route53') Route53 Dynamic DNS
                        li
                            span.fa-li
                                i.fas.fa-star.text-warning
                            a(href='https://github.com/Pilipo/GMO-Fireflies') GMO Fireflies with Hazelwood Labs
                        li
                            span.fa-li
                                i.fas.fa-star.text-warning
                            a(href='https://github.com/Pilipo/charlieplex') Charlieplex

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')